<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <meta name="description" content="{{ title }}">
    <title>{{ title }}</title>
    {% else %}
    <title>{{ directory_name }}</title>
    {% endif %}

    {% if icon %}
    <link rel="icon" href="{{ icon }}" />
    {% endif %}

    {% if css %}
    {% for stylesheet in css %}
    <link rel="stylesheet" type="text/css" href="{{ stylesheet }}" />
    {% endfor %}
    {% endif %}
    {% block head %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
